@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.navbar {
  background-color: #0a5118;
}
.navbar .navbar-brand {
	font-size: 1.5em;
  color: #4aa92d;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	font-size: 1.5em;
  color: #277e13;
}
.navbar .navbar-text {
	font-size: 1.5em;
  color: #4aa92d;
}
.navbar .navbar-nav .nav-link {
	font-size: 1.5em;
  color: #4aa92d;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #277e13;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #277e13;
  background-color: #20bb16;
}
.navbar .navbar-toggle {
  border-color: #20bb16;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #20bb16;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #4aa92d;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #4aa92d;
}
.navbar .navbar-link {
  color: #4aa92d;
}
.navbar .navbar-link:hover {
  color: #277e13;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #4aa92d;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #277e13;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #277e13;
    background-color: #20bb16;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #4aa92d;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #277e13;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #277e13;
    background-color: #20bb16;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #4aa92d;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #277e13;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #277e13;
    background-color: #20bb16;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #4aa92d;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #277e13;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #277e13;
    background-color: #20bb16;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #4aa92d;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #277e13;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #277e13;
  background-color: #20bb16;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #D3FFCC;
}


.title {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: left;
}
.title1 {
  color: black;
  text-align: left;
}
.titleright {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: right;
}
.titleright1 {
  color: black;
  text-align: right;
}
.mt-5 {
  color: #467800;
}
.nawig {
  color: #467800;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  max-width: 500px;
  margin: 20px auto;
}


li {
    padding-left: 1.28571429em;
    text-indent: -1.28571429em;
}

.post-container {
    margin: 0px 0px 0px 0px;  
    border: 0px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 220px
	float: left;
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
