<header class="bg-navbar fixed top-0 left-0 right-0 z-50">
  <nav class="navbar py-0 w-3/5 mx-auto"
      hx-target="#main"
      hx-swap="innerHTML">
    <a class="cursor-pointer -ml-5"
      hx-get="/parts/home.html"
      hx-on:click="changeNavbarTab(event)">
      <img src="logo.jpg" width="100" height="100" alt="logo">
    </a>
    <ul class="menu menu-horizontal pl-8 gap-4">
      <li><a class="text-2xl font-bold text-base-100 active:!bg-base-300 active:!text-base-content"
        hx-get="/parts/about.html"
        hx-on:click="changeNavbarTab(event)">
        O mnie
      </a></li>
      <li><a class="text-2xl font-bold text-base-100 active:!bg-base-300 active:!text-base-content"
        hx-get="/parts/pricing.html"
        hx-on:click="changeNavbarTab(event)">
        Cennik
      </a></li>
      <li><a class="text-2xl font-bold text-base-100 active:!bg-base-300 active:!text-base-content"
        hx-get="/parts/visit.html"
        hx-on:click="changeNavbarTab(event)">
        Wizyta
      </a></li>
      <li><a class="text-2xl font-bold text-base-100 active:!bg-base-300 active:!text-base-content"
        hx-get="/parts/nordic-walking.html"
        hx-on:click="changeNavbarTab(event)">
        Nordic walking
      </a></li>
      <li><a class="text-2xl font-bold text-base-100 active:!bg-base-300 active:!text-base-content"
        hx-get="/parts/trips.html"
        hx-on:click="changeNavbarTab(event)">
        Wyjazdy warsztatowe
      </a></li>
      <li><a class="text-2xl font-bold text-base-100 active:!bg-base-300 active:!text-base-content"
        hx-get="/parts/contact.html"
        hx-on:click="changeNavbarTab(event)">
        Kontakt
      </a></li>
    </ul>
  </nav>
</header>
