<!doctype html>
<html lang="en" class="bg-base-200">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" type="image/x-icon" href="assets/logo.jpg" />
        <link href="src/style.css" rel="stylesheet" />

        <script type="module" src="src/main.ts"></script>
        <script src="https://kit.fontawesome.com/e8e14ec1f1.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>

        <title>Syl.VIA — Zdrowe Żywienie i Dietoterapia</title>
    </head>

    <body class="relative min-h-dvh">
        <header id="header" hx-get="parts/_header.html" hx-trigger="load" hx-swap="outerHTML"></header>
        <main id="main" class="pt-40 px-6 pb-30 md:pt-36 md:px-10 md:pb-20" hx-get="parts/home.html" hx-trigger="load" hx-swap="innerHTML"></main>
        <footer id="footer" hx-get="parts/_footer.html" hx-trigger="load" hx-swap="outerHTML"></footer>
    </body>
</html>
