<nav class="bg-navbar fixed top-0 z-50 w-full px-10">
    <div class="navbar mx-auto w-full max-w-6xl py-0" hx-target="#main" hx-swap="innerHTML">
        <a class="-ml-5 cursor-pointer" hx-get="parts/home.html" hx-on:click="changeNavbarTab(event)">
            <img src="assets/logo.jpg" width="100" height="100" alt="logo" />
        </a>
        <ul class="menu menu-horizontal gap-4 pl-8">
            <li><a class="text-base-100 active:!bg-base-300 active:!text-base-content text-2xl font-bold" hx-get="parts/about.html" hx-on:click="changeNavbarTab(event)">O mnie</a></li>
            <li><a class="text-base-100 active:!bg-base-300 active:!text-base-content text-2xl font-bold" hx-get="parts/pricing.html" hx-on:click="changeNavbarTab(event)">Cennik</a></li>
            <li><a class="text-base-100 active:!bg-base-300 active:!text-base-content text-2xl font-bold" hx-get="parts/visit.html" hx-on:click="changeNavbarTab(event)">Wizyta</a></li>
            <li><a class="text-base-100 active:!bg-base-300 active:!text-base-content text-2xl font-bold" hx-get="parts/nordic-walking.html" hx-on:click="changeNavbarTab(event)">Nordic walking</a></li>
            <li><a class="text-base-100 active:!bg-base-300 active:!text-base-content text-2xl font-bold" hx-get="parts/trips.html" hx-on:click="changeNavbarTab(event)">Wyjazdy warsztatowe</a></li>
            <li><a class="text-base-100 active:!bg-base-300 active:!text-base-content text-2xl font-bold" hx-get="parts/contact.html" hx-on:click="changeNavbarTab(event)">Kontakt</a></li>
        </ul>
    </div>
</nav>
