<section id="pricing" class="mx-auto flex w-[87.5%] flex-col items-center gap-8">
    <h1 class="text-6xl font-bold">Cennik</h1>

    <div id="tabs" class="tabs tabs-lift w-full justify-center [&>.tab-content]:[--tabcontent-radius-ss:var(--radius-box)]">
        <a class="tab tab-active text-xl font-medium transition-all [&.tab-active]:!text-2xl [&.tab-active]:!font-semibold" hx-on:click="changeActiveTab(event)">Pojedyncze wizyty</a>
        <div id="tab-content" class="tab-content bg-base-100 border-base-300 py-10" hx-get="/parts/pricing/single-visit.html" hx-trigger="load" hx-swap="innerHTML"></div>

        <a class="tab text-xl font-medium transition-all [&.tab-active]:!text-2xl [&.tab-active]:!font-semibold" hx-on:click="changeActiveTab(event)">Pakiety</a>
        <div id="tab-content" class="tab-content bg-base-100 border-base-300 py-10" hx-get="/parts/pricing/bundles.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
</section>
