<main id="services" class="flex-1 px-6 md:px-10">
    <div class="mx-auto max-w-2/3 space-y-12 md:space-y-8">
        <h1 class="text-center text-5xl font-bold md:text-6xl">Usługi</h1>

        <div class="flex flex-col gap-5 md:gap-2">
            <div class="tabs tabs-lift w-full justify-center [&>.tab-content]:[--tabcontent-radius-ss:var(--radius-box)]">
                <input class="tab text-2xl font-semibold !pt-1" type="radio" name="tabs-services" aria-label="Psychodietetyka" checked />
                <div id="tab-content" class="tab-content bg-base-100 border-base-300 p-8" hx-get="/parts/services/psychodietetics.html" hx-trigger="load" hx-swap="innerHTML"></div>
                <input class="tab text-2xl font-semibold !pt-1" type="radio" name="tabs-services" aria-label="Nordic walking" />
                <div id="tab-content" class="tab-content bg-base-100 border-base-300 p-8" hx-get="/parts/services/nordic-walking.html" hx-trigger="load" hx-swap="innerHTML"></div>
                <input class="tab text-2xl font-semibold !pt-1" type="radio" name="tabs-services" aria-label="Warsztaty i wyjazdy" />
                <div id="tab-content" class="tab-content bg-base-100 border-base-300 p-8" hx-get="/parts/services/workshops-trips.html" hx-trigger="load" hx-swap="innerHTML"></div>
            </div>
        </div>
    </div>
</main>
